* {
  background-color: rgb(236, 255, 254);
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border: 2px solid black;
  &__form {
    display: flex;
    flex-direction: column;
    &--field {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%;
      width: 60%;
    }
    &--radio {
      display: block;
    }
    &--submit {
      margin-bottom: 2%;
    }
  }
}
